:root {
	--black: '#111111';
	--white: '#FFFFFF';

	--primaryColor: '#F4BF09';
	--primaryLight: '#FEDF78';
	// --primaryGradient: background: linear-gradient(180deg, #FEDF78 0%, #F4BF09 68.51%);

	--secondaryColor: '#34B6DC';
	--secondaryLight: '#9FE4EE';

	--lightGray: '#F5F5F5';
	--gray: '#BABABA';

	--fontColor: '#2D2D2D';
	--fontShade: '#6D6D6D';

	// --shadow: 'background: #C4C4C4; box-shadow: 0px 16px 40px rgba(73, 100, 126, 0.2)';
	// --innerShadow: background: #C4C4C4; box-shadow: inset 0px -14px 40px rgba(73, 100, 126, 0.2);
}
