.about {
	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 3rem;
		height: 100%;
		min-height: 200vh;
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
		// background-color: pink;
		padding: var(--standardPadding);
	}

	&__heading {
		font-size: var(--mediumText);
	}

	&__info {
		&-container {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 2rem;
			width: 100%;
			height: auto;
		}
		&--avatar-box,
		&--content-box {
			width: 100%;
			border-radius: 32px;
			padding: var(--standardPadding);
			background-color: var(--white);
			@include shadow;
		}
		&--avatar-box {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			height: 300px;
			overflow: hidden;
		}
		&--content-box {
			position: relative;
			display: flex;
			flex-direction: column;
			gap: 1.2rem;
			height: 200px;

			&::before {
				content: '';
				position: absolute;
				height: 12rem;
				width: auto;
				left: -2rem;
				bottom: -6rem;
				aspect-ratio: 1 / 1;
				background-repeat: no-repeat;
				background-image: url('../../dist/img/triangle.svg');
				background-size: 100px;
				background-position: center;
				transform: rotate(120deg);
				z-index: -9999;
			}
		}

		&--heading {
			font-size: var(--mediumText);
			color: var(--fontColor);
		}

		&--text {
			font-size: var(--verySmallText);
			font-family: 'Merriweather';
			color: var(--fontShade);
			line-height: 150%;
		}
	}
	&__avatar {
		position: absolute;
		height: 100%;
		bottom: 0;
	}

	&__button {
		align-self: flex-end;
	}
}
