.about {
	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 3rem;
		min-height: 50vh;
		width: 100%;
		max-width: var(--maxWidth);
		margin: 0 auto;
		padding: var(--standardPadding);

		@media only screen and(min-width:1260px) {
			padding: var(--standardPadding) 0;
		}
	}

	&__right--container {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		width: 100%;
		height: auto;
		@media only screen and(min-width:768px) {
			width: 60%;
			height: 300px;
		}
	}

	&__info {
		&-container {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 2rem;
			width: 100%;
			height: auto;

			@media only screen and(min-width:768px) {
				flex-direction: row;
				align-items: flex-start;
				max-height: 300px;
			}
		}
		&--avatar-box,
		&--content-box {
			flex-direction: column;
			justify-content: flex-start;
			width: 100%;
			border-radius: var(--borderRadius);
			background-color: var(--coreAdditional);
			@include shadow;
		}
		&--avatar-box {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			height: 300px;
			overflow: hidden;

			@media only screen and(min-width:768px) {
				width: 40%;
			}
		}
		&--content-box {
			position: relative;

			@media only screen and(min-width:768px) {
				width: 100%;
				height: 80%;
			}
		}

		&--heading {
			font-size: var(--mediumText);
			color: var(--fontColor);
		}

		&--text {
			color: var(--fontShade);
			font-size: var(--verySmallText);
			// font-family: 'Lora', serif;
			line-height: 150%;

			@media only screen and(min-width:820px) {
				font-size: var(--smallText);
			}
		}
	}
	&__avatar {
		position: absolute;
		height: 100%;
		bottom: 0;
	}

	&__button {
		width: 100%;
		background-color: var(--primaryColor);
		color: var(--fontColor);
		align-self: flex-end;

		&:hover {
			background-color: var(--fontColor);
			color: var(--primaryColor);
		}
		&:hover i {
			transform: translateX(100%);
		}
	}
}
