.about {
	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 3rem;
		height: 100%;
		min-height: 200vh;
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
		// background-color: pink;
		padding: var(--standardPadding);
	}

	&__heading {
		font-size: var(--mediumText);
	}

	&__right--container {
		width: 60%;
		height: 300px;
	}

	&__info {
		&-container {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 2rem;
			width: 100%;
			height: auto;

			@media only screen and(min-width:768px) {
				flex-direction: row;
				align-items: flex-start;
			}
		}
		&--avatar-box,
		&--content-box {
			width: 100%;
			border-radius: 32px;
			padding: var(--standardPadding);
			background-color: var(--coreAdditional);
			@include shadow;
		}
		&--avatar-box {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			height: 300px;
			overflow: hidden;

			@media only screen and(min-width:768px) {
				width: 40%;
			}
		}
		&--content-box {
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			gap: 1.2rem;
			height: 300px;
			background-color: var(--coreAdditional);
			&::before {
				content: '';
				position: absolute;
				height: 12rem;
				width: auto;
				left: -2rem;
				bottom: -5rem;
				aspect-ratio: 1 / 1;
				background-repeat: no-repeat;
				background-image: url('../../dist/img/triangle.svg');
				background-size: 100px;
				background-position: center;
				transform: rotate(120deg);
				z-index: -9999;

				@media only screen and(min-width:768px) {
					bottom: -50%;
					left: -1rem;
					transform: translateY(-60%);
				}
			}
			@media only screen and(min-width:768px) {
				width: 60%;

				height: calc(300px - 5rem);
			}
		}

		&--heading {
			font-size: var(--mediumText);
			color: var(--fontColor);
		}

		&--text {
			font-size: var(--verySmallText);
			font-family: 'Lora', serif;
			color: var(--fontColor);
			line-height: 150%;
			height: 80%;

			@media only screen and(min-width:768px) {
				font-size: var(--smallText);
			}
		}
	}
	&__avatar {
		position: absolute;
		height: 100%;
		bottom: 0;
	}

	&__button {
		width: 100%;
		background-color: var(--primaryColor);
		color: var(--fontColor);

		&:hover {
			background-color: var(--fontColor);
			color: var(--primaryColor);
		}
		&:hover i {
			transform: translateX(100%);
		}
	}
}
