.assurance {
	&__wrapper {
		// background-color: skyblue;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100vh;
		width: 100%;
		// max-width: 1200px;
		margin: 0 auto;
		padding: 4rem var(--standardPadding);
	}
	&__background-image {
		height: 100%;
		background-size: cover;
	}
	&__line {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		height: 100%;
		width: 0.8rem;
		padding: 3rem 0;
		border-radius: 32px;
		background-color: var(--fontColor);
		@include shadow;
	}
	&__circle-box {
		position: relative;
		width: 3rem;
		height: 3rem;
		background-color: var(--secondaryColor);
		border-radius: 50%;
		@include shadow;

		@media only screen and(min-width:768px) {
			&:nth-child(2n) {
				transform: translateX(100px);
			}
		}
	}

	&__item {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 335px;
		// height: auto;
		gap: 2rem;
		transform: translate(-50%, -50%);
		&-text {
			font-size: var(--verySmallText);
			color: var(--fontShade);
		}
	}

	&__text-container {
		display: flex;
		flex-direction: column;
	}

	&__icon {
		// height: auto;
		// width: 20%;
		height: 50px;
		position: absolute;
		width: auto;

		&-bg {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100px;
			width: 100px;
			aspect-ratio: 1 / 1;
			border-radius: 50%;
			@include primaryGradient;
		}
	}
}
