.fade::before {
	position: fixed;
	content: '';
	width: 100%;
	height: 100%;
	z-index: 100000;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
}
.contact {
	&__wrapper {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
		width: 100%;
		max-width: var(--maxWidth);
		padding: var(--standardPadding);
		margin: 10rem auto;

		@media only screen and(min-width:768px) {
			min-height: initial;
			height: 600px;
			padding: var(--standardPadding) var(--bigPadding);
		}
	}

	&__container {
		display: flex;
		flex-direction: column;
		// align-items: center;
		gap: 18rem;
		width: 100%;
		height: 100%;
		@media only screen and(min-width:768px) {
			flex-direction: row;
			gap: 2rem;
		}

		.contact__error-box {
			width: 100%;
			height: 4rem;
			padding: 0.6rem 1rem;
			left: 0;
			border-radius: var(--borderRadius);
			background-color: tomato;
			opacity: 0;
			visibility: hidden;
			transform-origin: bottom;
			transition: opacity 0.2s ease;
		}
		.error__active {
			visibility: visible;
			opacity: 1;
		}
		.contact__error-message {
			color: var(--white);
			font-size: var(--verySmallText);
		}
	}

	&__form {
		position: relative;
		display: flex;
		flex-direction: column;
		gap: 1.6rem;

		@media only screen and (min-width: 768px) {
			width: 65%;
			justify-content: flex-end;
		}
		@media only screen and(min-width:992px) {
			width: 70%;
		}

		&--item {
			display: flex;
			flex-direction: column;

			.form__input {
				width: 100%;
				border: 2px solid var(--grayAccent);
				border-radius: var(--borderRadius);
				padding: 0.8rem 1rem;
			}
			.error__input {
				border: 2px solid tomato;
			}
		}
		&--label {
			color: var(--fontColor);
		}
	}

	// Sociale

	&__socials {
		position: relative;
		&-box {
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			align-items: center;
			width: 100%;
			height: 320px;
			padding: var(--bigPadding) var(--standardPadding);
			border-radius: var(--borderRadius);
			background-color: var(--grayAccent);
			color: var(--fontColor);
			z-index: 100;
			@media only screen and(min-width:768px) {
				height: 80%;
				width: 35%;
				align-self: flex-end;
				align-items: flex-end;
			}
			@media only screen and(min-width:992px) {
				width: 30%;
			}
			&::before {
				content: '';
				position: absolute;
				width: 80px;
				height: 80px;
				top: 0;
				left: 50%;
				transform: translate(-50%, -50%);
				border-radius: 50%;
				aspect-ratio: 1 / 1;
				background-color: var(--grayAccent);
				background-image: url('../../dist/img/logoBlue.svg');
				background-size: cover;
				background-size: 80%;
				background-repeat: no-repeat;
				background-position: center;
				z-index: -1;
			}

			.socials {
				&__header {
					font-size: var(--mediumText);
					text-align: right;
					margin: 2rem 0;
				}

				&__item-container {
					display: flex;
					flex-direction: column;
					gap: 2rem;
					width: 80%;
				}
				&__item {
					display: flex;
					flex-direction: row;
					align-items: center;
					align-items: flex-end;
					gap: 0.8rem;
					cursor: pointer;
					font-weight: 400;
					color: var(--fontShade);
					transition: transform 0.2s ease;
					@media only screen and(min-width:768px) {
						flex-direction: row-reverse;
					}
					&:hover {
						transform: scale(1.02);
					}
				}
				&__icon {
					font-size: 3rem;
					width: 30px;
					background-size: cover;
				}
				&__adress {
					text-align: left;
					font-size: vaR(--verySmallText);

					@media only screen and(min-width: 768px) {
						text-align: right;
					}
				}
				&__avatar {
					position: absolute;
					width: 200px;
					top: 0;
					right: 0;
					transform: scaleX(-1) translateY(calc(-100% + 3px));
					z-index: -10000;
				}
			}
		}
	}
	&__button {
		box-shadow: none;
	}
}

.loading-box {
	position: fixed;
	display: none;
	align-items: center;
	justify-content: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 200px;
	height: 200px;
	padding: 1rem;
	border-radius: 50%;
	background-color: var(--primaryColor);
	z-index: 1000000;
	@include shadow;
	.spinner {
		position: absolute;
		width: 90%;
		height: 90%;
		object-fit: 1 / 1;
		border-radius: 50%;
		animation: spinCircle 15s linear infinite;
	}
	.loading__message {
		position: absolute;
		color: var(--fontColor);
		font-weight: 700;
		font-size: var(--smallText);
	}
	.loading__background {
		top: 0;
		left: 0;
		position: fixed;
		opacity: 0.5;
		background: #000;
		width: 100%;
		height: 100%;
		z-index: 10000;
	}
}
.active-spinner {
	display: flex;
}

.popup {
	&__wrapper {
		position: fixed;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 300px;
		height: 100px;
		bottom: 5rem;
		left: 50%;

		transform: translateX(calc(-50% - 2rem)) translateY(200px) scale(0);

		padding: var(--standardPadding);
		padding-right: 5rem;
		border-radius: var(--borderRadius);
		background-color: var(--success);
		z-index: 1000000;
		transition: transform 0.2s ease;
		@include shadow;
	}

	&-active {
		transform: translateX(calc(-50% - 2rem)) translateY(0) scale(1);
		.popup__avatar {
			animation: avatarWiggle 1s ease;
		}
	}

	&__text {
		color: var(--white);
	}
	&__avatar {
		position: absolute;
		right: 0;
		transform: translateX(4rem);
		width: auto;
		height: 150px;
		object-fit: cover;
		// transition: transform 0.8s ease;
	}
}
