.speciality {
	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		max-width: var(--maxWidth);
		min-height: 100vh;
		height: auto;
		margin: 0 auto;
		padding: var(--standardPadding);
		overflow-x: hidden;

		@media only screen and(min-width:992px) {
			overflow-x: visible;
		}
		@media only screen and(min-width:1260px) {
			padding: var(--standardPadding) 0;
		}
	}

	&__container {
		display: flex;
		flex-direction: column;
		height: 100%;
		width: 100%;
		padding: 5rem 0;
		gap: 25rem;
		&--projecting,
		&--coding {
			display: flex;
			flex-direction: column;
			@media only screen and(min-width: 768px) {
				align-self: flex-start;
				width: 70%;
			}
			@media only screen and(min-width: 992px) {
				width: 50%;
			}
		}
		&--projecting {
			height: 300px;
		}
		&--coding {
			position: relative;
			margin-top: 20rem;
			@media only screen and(max-width:420px) {
				margin-top: 25rem;
			}
			@media only screen and(min-width:768px) {
				align-self: flex-end;
			}
		}
	}

	&__box {
		position: relative;
		flex-direction: column;
		width: 100%;
		height: auto;
		// height: 100%;
		padding: var(--bigPadding);
		align-self: flex-end;

		@media only screen and(min-width:768px) {
			width: 90%;
		}
		&--heading {
			color: var(--fontColor);
			font-size: var(--smallerMediumText);
			&-role {
				color: var(--gray);
				color: var(--secondaryColor);

				font-weight: 400;
				font-size: var(--smallText);
				margin-bottom: 1rem;
			}
		}
		&--text {
			line-height: 150%;
			font-size: var(--verySmallText);
			color: var(--fontShade);
		}
	}

	&__avatar {
		height: auto;
		width: 15rem;
		padding: var(--standardPadding) 0;

		&--projecting,
		&--coding {
			@media only screen and (min-width: 768px) {
				width: 80%;
			}
		}
		&--projecting {
			transform: translate(10%, -10%);
		}
		&--coding {
			width: 100%;
			@media only screen and(min-width: 768px) {
				width: 90%;
				transform: translateY(-10%);
			}
		}
		&--box {
			position: absolute;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 17rem;
			height: 17rem;
			border-radius: 50%;
			@include shadow;

			@media only screen and(min-width:768px) {
				height: 20rem;
				width: 20rem;
			}

			&-projecting {
				position: relative;
				background-color: var(--primaryColor);
				margin-top: 5rem;
			}
			&-coding {
				align-self: flex-end;
				top: -14rem;
				right: 10%;
				z-index: -1;
				background-color: var(--secondaryColor);
			}
		}
	}

	&__ornament {
		position: absolute;
		width: 10rem;
		z-index: -10;
	}
}
// POJEDYNCZE ORNAMENTY
.ornament {
	// ORNAMENTY PROJEKTOWANIE
	&__circle-lined--blue {
		left: 0;
		top: 0;
		transform: translate(-30%, -30%);
	}
	&__spring--yellow {
		top: 0;
		right: 0;
		transform: translate(35%, -35%);
		height: 10rem;
		width: auto;
	}

	&__spring--blue {
		height: 8rem;
		width: auto;
		right: 0;
		bottom: -10rem;
		transform: translate(20%, -35%);
		// background-color: greenyellow;
		transform: rotate(15deg);
	}
	&__spring--light-yellow {
		height: 6rem;
		width: auto;

		left: 30%;
		bottom: -5rem;
		// transform: translate(20%, -35%);
		// background-color: greenyellow;
		opacity: 0.5;
		transform: rotate(-15deg);
	}

	// ORNAMENTY KODOWANIE
	&__circle-dotted--gray {
		bottom: 0;
		left: 0;
		transform: translate(-30%, 30%);
	}
	&__circle-dotted--light-gray {
		top: 0;
		left: 15%;
		transform: translate(50%, -50%);
		opacity: 0.5;
	}
	&__square-dotted {
		bottom: 0;
		right: 0;
		transform: translate(10%, 50%) rotate(10deg);
	}
}
