@import './dark-theme';
@import './variables';
@import './nav';
@import './landing';

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	// display: flex;
	// flex-direction: column;
	// align-items: center;
	// width: 100%;
	height: 100%;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	font-family: 'Merriweather', serif;
	font-family: 'Poppins', sans-serif;
}

a {
	text-decoration: none;
}

input,
button,
textarea,
select {
	font-family: inherit;
}

button {
	border: none;
	cursor: pointer;
}

textarea {
	resize: vertical;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.site__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}
