@import './dark-theme';
@import './variables';
@import './animations';
@import './universals';
@import './nav';
@import './landing';
@import './about';
@import './speciality';
@import './assurance';
@import './_projects';
@import './contact';

*,
* ::after,
* ::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}
body {
	// display: flex;
	// flex-direction: column;
	// gap: 15rem;
	background-color: var(--core);
	font-size: 1.6rem;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	font-family: 'Lora', serif;
	font-family: 'Poppins', sans-serif;
}

a {
	text-decoration: none;
}

input,
button,
textarea,
select {
	font-family: inherit;
}

button {
	border: none;
	cursor: pointer;
}

textarea {
	resize: vertical;
}

.section__padding {
	padding: 10rem 0;
}
