@import './dark-theme';
@import './variables';
@import './nav';
@import './landing';
@import './about';

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}
body {
	// display: flex;
	// flex-direction: column;
	// width: 100%;
	background-color: var(--core);
	font-size: 1.6rem;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	font-family: 'Lora', serif;
	font-family: 'Poppins', sans-serif;
}

a {
	text-decoration: none;
}

input,
button,
textarea,
select {
	font-family: inherit;
}

button {
	border: none;
	cursor: pointer;
}

textarea {
	resize: vertical;
}

// Globalne klasy
.heading {
	&__container {
		display: flex;
		align-items: center;
		align-self: flex-start;
		gap: 2rem;
		padding: 4rem 0;
		width: 100%;
	}
	&__text {
		&__heading {
			font-size: var(--mediumText);
		}
	}
	&__circle {
		height: 3rem;
		width: 3rem;
		border-radius: 50%;
		@include primaryGradient;
	}
}

.button__primary {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.8rem 2rem;
	font-weight: bold;
	font-size: var(--smallText);
	border-radius: 32px;
	transition: background-color 0.2s ease;
	cursor: pointer;
	@include shadow;
}

.button__icon {
	font-size: 2rem;
	padding-left: 1rem;
	transition: transform 0.2s ease;
}
