@use './variables' as *;

.about {
	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 3rem;
		min-height: 50vh;
		width: 100%;
		max-width: $maxWidth;
		margin: 0 auto;
		padding: $standardPadding;
		@media only screen and(min-width:1260px) {
			padding: $standardPadding 0;
		}
	}

	&__right--container {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		width: 100%;
		height: auto;
		@media only screen and(min-width:768px) {
			width: 60%;
			height: 300px;
		}
	}

	&__info {
		&-container {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 2rem;
			width: 100%;
			height: auto;

			@media only screen and(min-width:768px) {
				flex-direction: row;
				align-items: flex-start;
				max-height: 300px;
			}
		}
		&--avatar-box,
		&--content-box {
			flex-direction: column;
			justify-content: flex-start;
			width: 100%;
			border-radius: $borderRadius;
			background-color: $coreAdditional;
			@include shadow;
		}
		&--avatar-box {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			height: 300px;
			overflow: hidden;

			@media only screen and(min-width:768px) {
				width: 40%;
			}
		}
		&--content-box {
			position: relative;

			@media only screen and(min-width:768px) {
				width: 100%;
				height: 80%;
			}
		}

		&--heading {
			font-size: $mediumText;
			color: $fontColor;
		}

		&--text {
			color: $fontShade;
			font-size: $verySmallText;
			// font-family: 'Lora', serif;
			line-height: 150%;

			@media only screen and(min-width:820px) {
				font-size: $smallText;
			}
		}
	}
	&__avatar {
		position: absolute;
		height: 100%;
		bottom: 0;
	}

	&__button {
		width: 100%;
		background-color: $primaryColor;
		color: $fontColor;
		align-self: flex-end;

		&:hover {
			background-color: $fontColor;
			color: $primaryColor;
		}
		&:hover i {
			transform: translateX(100%);
		}
	}
}
