<<<<<<< HEAD:src/sass/utilities/_assurance.scss
@use './variables' as *;

#assurance {
	max-width: $maxWidth;
	margin: 0 auto;
}
=======
>>>>>>> adba75a (recommited use and forwards to imports (use and forwards was so unclean to use)):src/sass/_assurance.scss
.assurance {
	&__wrapper {
		background-color: rgba(0, 0, 0, 0.06);
		display: flex;
		flex-direction: column;
		// flex-direction: column;
		height: 100vh;
		height: auto;
		width: 100%;
		max-width: $maxWidth;
		margin: 0 auto;
		padding: $standardPadding;

		@media only screen and(min-width:768px) {
			flex-direction: row-reverse;
			padding: $standardPadding 0;
		}
	}
	&__background-image {
		// height: 100%;
		width: 100%;
		background-size: cover;
		object-fit: cover;
	}
	&__line {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		height: 100%;
		width: 0.8rem;
		padding: 3rem 0;
		border-radius: var(--borderRadius);

		background-color: var(--fontColor);
		@include shadow;
	}
	&__circle-box {
		position: relative;
		width: 3rem;
		height: 3rem;
		background-color: var(--secondaryColor);
		border-radius: 50%;
		@include shadow;

		@media only screen and(min-width:768px) {
			&:nth-child(2n) {
				transform: translateX(100px);
			}
		}
	}

	&__items-container {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		right: 0;
		width: auto;
		min-width: 60%;
		gap: 3rem;
		align-items: center;

		@media only screen and(min-width:768px) {
			flex-direction: row;
		}
	}
	&__items--box {
		display: flex;
		flex-direction: column;
		gap: 5rem;
	}
	&__item {
		display: flex;
		align-items: center;
		justify-content: center;
		max-width: 350px;
		gap: 3rem;
<<<<<<< HEAD:src/sass/utilities/_assurance.scss

		&-heading {
			font-size: $smallText;
		}
=======
>>>>>>> adba75a (recommited use and forwards to imports (use and forwards was so unclean to use)):src/sass/_assurance.scss
		&-text {
			font-size: $verySmallText;
			color: $fontShade;
		}
	}

	&__text-container {
		display: flex;
		flex-direction: column;
	}

	&__icon {
		height: 50px;
		width: auto;

		&-bg {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 90px;
			width: 90px;
			aspect-ratio: 1 / 1;
			border-radius: 50%;
			@include primaryGradient;
		}
	}
}
